
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
	font-weight: 200;
	
}

.imagem{
	overflow: hidden;
	background-image: url(images/meiying-ng-OrwkD-iWgqg-unsplash.jpg);
	background-position: center bottom;
	height: 250px;
	width: 100%;
	position: relative
}

body{
	background-color: #e0dfdf;
	margin: 0;
}
input, p{
	color: rgb(36, 35, 35);
}
.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	margin-top: -178px;
	height: auto;
	position: relative;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
	color: #ffffff;
	letter-spacing: 6px;
	font-size: 42px;
}

form {
	display: flex;
	align-items: center;
	width: 370px;
	margin: auto;
}

input[type="text"] {
	flex: 1;
	padding: 10px;
	border: none;
	border-right: none;
	height: 45px;
	border-radius: 5px;
}


#botao{
	padding: 10px;	
	border: none;
	cursor: pointer;	
	display: none;
}

ul {
	margin-top: 30px;
	list-style: none;
}

li {
	display: flex;
	align-items: center;
	padding: 10px;
	background-color: #fff;
	border-radius: 5px;
    font-size: 20px;
	border-bottom: 1px solid #464545;	
}

li input[type="checkbox"] {
	margin-right: 10px;
}
.valida{
	display: none;
}
#validando{
	color: #fff;
	text-align: center;
	margin-bottom: 5px;
	font-size: 16px;
}

.excluir{
	background-color: #fff;
	border: none;	
	display: flex;
	font-size: 25px;
	font-family: 'Gloria Hallelujah', cursive;
	color: #000000;
	margin-left: auto;
}
.excluir:hover{
	cursor: pointer;
}

.check{
	margin-left: auto;
}
