@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
	font-weight: 200;

}

.imagem {
	overflow: hidden;
	background-image: url(images/meiying-ng-OrwkD-iWgqg-unsplash.jpg);
	background-position: center bottom;
	height: 250px;
	width: 100%;
	position: relative
}

body {
	background-color: #eeeded;
	margin: 0;
}

input,
p {
	color: rgb(36, 35, 35);
}

.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	margin-top: -178px;
	height: auto;
	position: relative;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
	color: #ffffff;
	letter-spacing: 6px;
	font-size: 42px;
}

form {
	display: flex;
	align-items: center;
	width: 370px;
	margin: auto;
}

input[type="text"] {
	flex: 1;
	padding: 10px;
	border: none;
	border-right: none;
	height: 45px;
	border-radius: 5px;
}


#botao {
	padding: 10px;
	border: none;
	cursor: pointer;
	display: none;
}

ul {
	margin-top: 30px;
	list-style: none;
}

li {
	display: flex;
	align-items: center;
	padding: 10px;
	background-color: #fff;
	border-radius: 5px;
	font-size: 20px;
	border-bottom: 1px solid #a8359f;
}

.valida {
	display: none;
}

#validando {
	color: #fff;
	text-align: center;
	margin-bottom: 5px;
	font-size: 16px;
}

.excluir {
	background-color: #fff;
	border: none;
	display: flex;
	font-size: 25px;
	font-family: 'Gloria Hallelujah', cursive;
	color: #1a1919;
}

.excluir:hover {
	cursor: pointer;
}

/* CHECKBOX */

.check {
	position: relative;
	width: 20px;
	height: 20px;
	border-radius: 2px;
	appearance: none;
	background-color: rgb(236, 102, 203);
	transition: all .3s;
	margin-left: auto;
	margin-right: 7px;
}

.check:hover {
	cursor: pointer;
}

.check::before {
	content: '';
	position: absolute;
	border: solid #fff;
	display: block;
	width: .3em;
	height: .6em;
	border-width: 0 .2em .2em 0;
	z-index: 1;
	opacity: 0;
	right: calc(50% - .3em);
	top: calc(50% - .6em);
	transform: rotate(0deg);
	transition: all .3s;
	transform-origin: center center;
}

.check:checked {
	animation: a .3s ease-in forwards;
	background-color: rgb(184, 79, 158);
}

.check:checked::before {
	opacity: 1;
	transform: rotate(405deg);
}

@keyframes a {
	0% {
		opacity: 1;
		transform: scale(1) rotateY(0deg);
	}

	50% {
		opacity: 0;
		transform: scale(.8) rotateY(180deg);
	}

	100% {
		opacity: 1;
		transform: scale(1) rotateY(360deg);
	}
}

.risca {
	text-decoration: line-through;
	opacity: 0.6;
}