@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	background: url(images/andrew-neel-jtsW--Z6bFw-unsplash.jpg);
	background-repeat: no-repeat;
	background-color: #000;
	font-weight: 200;
}
body{
	background: transparent;
}
h1, li, input{
	color: #a7addb;
}
.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	margin-top: 20px;
	height: auto;
	background: transparent
}
p{
	background: transparent
}
h1 {
	text-align: center;
	margin-bottom: 20px;
	background: transparent
}

form {
	display: flex;
	align-items: center;
	width: 370px;
	margin: auto;
	background: transparent
}

input[type="text"] {
	flex: 1;
	padding: 10px;
	border: 1px solid #24273D;
	border-right: none;
	background: transparent
	
}

button[type="submit"] {
	padding: 10px;
	background-color: #ff0000;
	border: none;
	cursor: pointer;	
}

ul {
	margin-top: 30px;
	list-style: none;
}

li {
	display: flex;
	align-items: center;
	padding: 10px;
	background-color: #24273D;
	border-bottom: 1px solid #55597C;
    font-size: 20px;
	
}

li input[type="checkbox"] {
	margin-right: 10px;
}
.valida{
	display: none;
}
#validando{
	color: #fff;
	text-align: center;
	margin-bottom: 5px;
	font-size: 16px;
}

.excluir{
	background-color: transparent;
	border: none;	
	display: flex;
	font-size: 25px;
	font-family: 'Gloria Hallelujah', cursive;
	margin-right: 10px;
	transition: .5s;
	color: #fff;
}
.excluir:hover{
	cursor: pointer;
	color: #a7addb;
}
img{
	background-color: transparent;
}